# This is a Github Workflow that runs tests on any push or pull request.
# If the tests pass and this is a push to the master branch it also runs Semantic Release.
name: CI
on: [push, pull_request]
jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: yarn

      - name: Build
        run: yarn build

      - name: Save target (artifact)
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ github.run_id }}
          retention-days: 1
          # If a wildcard pattern is used, the path hierarchy will be preserved after the first wildcard pattern.
          # https://github.com/actions/upload-artifact#upload-using-multiple-paths-and-exclusions
          path: |
            !packages/*/node_modules
            !packages/*/src
            packages
            renovate.json

  test_push:
    needs: build
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore target
        uses: actions/download-artifact@v4
        with:
          name: artifact-${{ github.run_id }}-target

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: yarn

      - name: Unit test only
        run: yarn test

      - name: Push coverage
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ github.run_id }}-coverage
          retention-days: 1
          path: coverage

      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: artifact-${{ github.run_id }}-merged
          pattern: artifact-${{ github.run_id }}-*

  test_pr:
    if: github.event_name == 'pull_request'
    needs: build
    strategy:
      matrix:
        os: [ubuntu-20.04]
        node-version: [18, 20, 22]
    name: Test (Node v${{ matrix.node-version }}, OS ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore target
        uses: actions/download-artifact@v4
        with:
          name: artifact-${{ github.run_id }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install deps
        run: yarn
      - name: Unit test only
        if: matrix.node-version != '18' || matrix.os != 'ubuntu-24.04'
        run: yarn test
      - name: Full test with report
        if: matrix.node-version == '18' && matrix.os == 'ubuntu-24.04'
        run: yarn test:report

  release:
    name: Release
    # https://github.community/t/trigger-job-on-tag-push-only/18076
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: test_push
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Restore target
        uses: actions/download-artifact@v4
        with:
          name: artifact-${{ github.run_id }}-merged
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Codeclimate
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/*.lcov:lcov

      - name: Install deps
        run: |
          npm i -g npm@latest
          npm -v
          yarn -v
          yarn

      - name: Multi-semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_USER: 'qiwibot'
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_EMAIL: 'opensource@qiwi.com'
          GIT_COMMITTER_EMAIL: 'opensource@qiwi.com'
          GIT_AUTHOR_NAME: '@qiwibot'
          GIT_COMMITTER_NAME: '@qiwibot'
        run: npx -p @qiwi/semrel-toolkit multi-semrel
